##
## Velocity Template for DisplayUsernamePasswordPage view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## authenticationWarningContext - context with login warning state
## ldapResponseContext - context with LDAP state (if using native LDAP)
## rpUIContext - the context with SP UI information from the metadata
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
##
#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
#set ($duoHost = $authenticationContext.getSubcontext('edu.uchicago.identity.shibboleth.authn.duo.DuoAuthenticationContext', true).getDuoHost())
#set ($duoRequest = $authenticationContext.getSubcontext('edu.uchicago.identity.shibboleth.authn.duo.DuoAuthenticationContext',true).getDuoRequest())
##
<!DOCTYPE html>
<html>
  	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>#springMessageText("idp.title", "Web Login Service")</title>
		<script src="$request.getContextPath()/DuoWeb-v1.bundled.js"></script>
		<style>
			#duo_iframe {
				width: 100%;
				min-width: 304px;
				max-width: 620px;
				height: 330;
			}
		</style>  	
	</head>
  	<body>
	<script>
		Duo.init({ 'host': '$duoHost', 'sig_request':'$duoRequest', 'post_action':'$flowExecutionUrl' });
	</script>
	<iframe id="duo_iframe" frameborder="0"></iframe>
    
 	</body>
</html>